body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
}
#u79 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:121px;
}
#u80 {
  position:absolute;
  left:402px;
  top:12px;
  width:211px;
  height:120px;
}
#u81 {
  position:absolute;
  left:2px;
  top:52px;
  width:207px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u82 {
  position:absolute;
  left:212px;
  top:142px;
  width:567px;
  height:44px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u85 {
  position:absolute;
  left:397px;
  top:211px;
  width:150px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:397px;
  top:231px;
  width:220px;
  height:22px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:622px;
  top:231px;
  width:175px;
  height:21px;
  overflow:hidden;
  visibility:hidden;
}
#u88_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-left:0px;
  border-radius:5.99996948242188px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:12px;
  top:0px;
  width:118px;
  height:21px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:3px;
  width:119px;
  height:16px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:left;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u88_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u88_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-left:0px;
  border-radius:5.99996948242188px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:12px;
  top:0px;
  width:118px;
  height:21px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u99 {
  position:absolute;
  left:16px;
  top:3px;
  width:119px;
  height:16px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:397px;
  top:261px;
  width:220px;
  height:20px;
  overflow:hidden;
}
#u101_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:13px;
}
#u104 {
  position:absolute;
  left:7px;
  top:3px;
  width:188px;
  height:13px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u101_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u101_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:110px;
  top:0px;
  width:55px;
  height:20px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:165px;
  top:0px;
  width:55px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  position:absolute;
  left:55px;
  top:0px;
  width:55px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 206, 206, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 176, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u101_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u101_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:110px;
  top:0px;
  width:55px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:165px;
  top:0px;
  width:55px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 226, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 226, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u120 {
  position:absolute;
  left:55px;
  top:0px;
  width:55px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u101_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u101_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:165px;
  top:0px;
  width:55px;
  height:20px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(179, 238, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 213, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u124 {
  position:absolute;
  left:110px;
  top:0px;
  width:55px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(179, 238, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 213, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(179, 238, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 213, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:55px;
  top:0px;
  width:55px;
  height:20px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u101_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(142, 230, 117, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(84, 154, 41, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:110px;
  top:0px;
  width:55px;
  height:20px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(142, 230, 117, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(84, 154, 41, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u132 {
  position:absolute;
  left:165px;
  top:0px;
  width:55px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(142, 230, 117, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(84, 154, 41, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(142, 230, 117, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(84, 154, 41, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:55px;
  top:0px;
  width:55px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:397px;
  top:261px;
  width:220px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u139 {
  position:absolute;
  left:397px;
  top:296px;
  width:150px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:397px;
  top:316px;
  width:220px;
  height:22px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u142 {
  position:absolute;
  left:622px;
  top:316px;
  width:195px;
  height:21px;
  overflow:hidden;
}
#u142_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u142_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u142_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-left:0px;
  border-radius:5.99996948242188px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:12px;
  top:0px;
  width:153px;
  height:21px;
}
#u146 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u147 {
  position:absolute;
  left:16px;
  top:3px;
  width:149px;
  height:16px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:left;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u142_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u142_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-left:0px;
  border-radius:5.99996948242188px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:12px;
  top:0px;
  width:108px;
  height:21px;
}
#u152 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u153 {
  position:absolute;
  left:16px;
  top:3px;
  width:149px;
  height:16px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:left;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:622px;
  top:251px;
  width:245px;
  height:125px;
  overflow:hidden;
  visibility:hidden;
}
#u155_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:125px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:10px;
  top:0px;
  width:235px;
  height:125px;
}
#u157 {
  position:absolute;
  left:2px;
  top:54px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u159 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:20px;
}
#u160 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u161 {
  position:absolute;
  left:10px;
  top:11px;
  width:1px;
  height:18px;
  text-align:left;
}
#u162 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
}
#u163 {
  position:absolute;
  left:20px;
  top:9px;
  width:215px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
  text-align:left;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:80px;
}
#u165 {
  position:absolute;
  left:19px;
  top:34px;
  width:216px;
  height:80px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:437px;
  top:348px;
  width:140px;
  height:25px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
