body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
}
#u700 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:2px;
  top:1px;
  width:1062px;
  height:40px;
}
#u703 {
  position:absolute;
  left:2px;
  top:12px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u704 {
  position:absolute;
  left:1032px;
  top:9px;
  width:25px;
  height:25px;
}
#u705 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u706 {
  position:absolute;
  left:18px;
  top:8px;
  width:27px;
  height:27px;
}
#u707 {
  position:absolute;
  left:1px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
}
#u708 {
  position:absolute;
  left:79px;
  top:8px;
  width:23px;
  height:27px;
}
#u709 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u710 {
  position:absolute;
  left:141px;
  top:14px;
  width:27px;
  height:21px;
}
#u711 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u712 {
  position:absolute;
  left:59px;
  top:2px;
  width:1px;
  height:38px;
}
#u713 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u714 {
  position:absolute;
  left:121px;
  top:2px;
  width:1px;
  height:38px;
}
#u715 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:198px;
  top:14px;
  width:318px;
  height:16px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:94px;
  top:28px;
  width:12px;
  height:12px;
}
#u719 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u720 {
  position:absolute;
  left:94px;
  top:28px;
  width:11px;
  height:11px;
}
#u721 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u723 {
  position:absolute;
  left:1px;
  top:405px;
  width:185px;
  height:40px;
}
#u724 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:1px;
  top:355px;
  width:185px;
  height:40px;
}
#u726 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  position:absolute;
  left:1px;
  top:305px;
  width:185px;
  height:40px;
}
#u728 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:1px;
  top:255px;
  width:185px;
  height:40px;
}
#u730 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:1px;
  top:95px;
  width:184px;
  height:40px;
}
#u732 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  position:absolute;
  left:1px;
  top:45px;
  width:185px;
  height:40px;
}
#u734 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:1px;
  top:135px;
  width:184px;
  height:120px;
}
#u736 {
  position:absolute;
  left:2px;
  top:52px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:78px;
  top:145px;
  width:77px;
  height:20px;
}
#u738 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:77px;
  top:185px;
  width:52px;
  height:20px;
}
#u740 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:78px;
  top:225px;
  width:59px;
  height:20px;
}
#u742 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:631px;
}
#u743 {
  position:absolute;
  left:186px;
  top:1px;
  width:1px;
  height:630px;
}
#u744 {
  position:absolute;
  left:2px;
  top:307px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:198px;
  top:49px;
  width:104px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u747 {
  position:absolute;
  left:198px;
  top:81px;
  width:271px;
  height:16px;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:217px;
  top:141px;
  width:72px;
  height:16px;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  position:absolute;
  left:217px;
  top:185px;
  width:92px;
  height:16px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  position:absolute;
  left:217px;
  top:273px;
  width:55px;
  height:16px;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755 {
  position:absolute;
  left:217px;
  top:316px;
  width:29px;
  height:16px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:217px;
  top:360px;
  width:25px;
  height:16px;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u759 {
  position:absolute;
  left:345px;
  top:395px;
  width:694px;
  height:25px;
}
#u759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u760 {
  position:absolute;
  left:345px;
  top:353px;
  width:694px;
  height:25px;
}
#u760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u761 {
  position:absolute;
  left:345px;
  top:311px;
  width:694px;
  height:25px;
}
#u761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u762 {
  position:absolute;
  left:345px;
  top:268px;
  width:694px;
  height:25px;
}
#u762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u763 {
  position:absolute;
  left:345px;
  top:175px;
  width:694px;
  height:25px;
}
#u763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u764 {
  position:absolute;
  left:345px;
  top:132px;
  width:694px;
  height:25px;
}
#u764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:217px;
  top:229px;
  width:39px;
  height:16px;
}
#u766 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:345px;
  top:402px;
  width:349px;
  height:16px;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:345px;
  top:360px;
  width:49px;
  height:16px;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  position:absolute;
  left:345px;
  top:316px;
  width:51px;
  height:16px;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:345px;
  top:273px;
  width:28px;
  height:16px;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:345px;
  top:229px;
  width:127px;
  height:16px;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:345px;
  top:185px;
  width:36px;
  height:16px;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  position:absolute;
  left:345px;
  top:141px;
  width:29px;
  height:16px;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  position:absolute;
  left:945px;
  top:66px;
  width:105px;
  height:31px;
}
#u782 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  position:absolute;
  left:945px;
  top:66px;
  width:105px;
  height:31px;
}
#u784 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  position:absolute;
  left:217px;
  top:444px;
  width:140px;
  height:31px;
}
#u786 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  position:absolute;
  left:299px;
  top:123px;
  width:465px;
  height:237px;
}
#u789 {
  position:absolute;
  left:2px;
  top:110px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u790 {
  position:absolute;
  left:308px;
  top:129px;
  width:158px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:2px;
}
#u792 {
  position:absolute;
  left:299px;
  top:154px;
  width:465px;
  height:1px;
}
#u793 {
  position:absolute;
  left:2px;
  top:-8px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u794 {
  position:absolute;
  left:309px;
  top:185px;
  width:138px;
  height:16px;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:309px;
  top:221px;
  width:153px;
  height:16px;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  position:absolute;
  left:309px;
  top:257px;
  width:156px;
  height:16px;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u800 {
  position:absolute;
  left:488px;
  top:176px;
  width:265px;
  height:25px;
}
#u800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u801 {
  position:absolute;
  left:488px;
  top:212px;
  width:265px;
  height:25px;
}
#u801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u802 {
  position:absolute;
  left:488px;
  top:248px;
  width:265px;
  height:25px;
}
#u802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u803 {
  position:absolute;
  left:613px;
  top:328px;
  width:140px;
  height:25px;
}
#u803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u804 {
  position:absolute;
  left:309px;
  top:328px;
  width:140px;
  height:25px;
}
#u804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u805 {
  position:absolute;
  left:309px;
  top:290px;
  width:84px;
  height:16px;
  color:#FF0000;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u807 {
  position:absolute;
  left:309px;
  top:289px;
  width:145px;
  height:16px;
  color:#FF0000;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u809 {
  position:absolute;
  left:488px;
  top:176px;
  width:265px;
  height:25px;
}
#u810 {
  position:absolute;
  left:2px;
  top:4px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:488px;
  top:212px;
  width:265px;
  height:25px;
}
#u812 {
  position:absolute;
  left:2px;
  top:4px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:488px;
  top:247px;
  width:265px;
  height:25px;
}
#u814 {
  position:absolute;
  left:2px;
  top:4px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:217px;
  top:402px;
  width:57px;
  height:16px;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
