body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
}
#u26 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:92px;
}
#u27 {
  position:absolute;
  left:437px;
  top:83px;
  width:191px;
  height:91px;
}
#u28 {
  position:absolute;
  left:2px;
  top:38px;
  width:187px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:356px;
  top:192px;
  width:354px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:356px;
  top:228px;
  width:354px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:463px;
  top:278px;
  width:140px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u33 {
  position:absolute;
  left:492px;
  top:313px;
  width:92px;
  height:20px;
  text-decoration:underline;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u35 {
  position:absolute;
  left:356px;
  top:257px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  opacity:0.8;
}
#u38 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u39 {
  position:absolute;
  left:383px;
  top:192px;
  width:300px;
  height:170px;
  text-decoration:underline;
  color:#0066FF;
}
#u40 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
