body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
}
#u2 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:92px;
}
#u3 {
  position:absolute;
  left:437px;
  top:83px;
  width:191px;
  height:91px;
}
#u4 {
  position:absolute;
  left:2px;
  top:38px;
  width:187px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:433px;
  top:224px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:433px;
  top:259px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:18px;
}
#u7 {
  position:absolute;
  left:433px;
  top:294px;
  width:200px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:18px;
}
#u8 {
  position:absolute;
  left:10px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:409px;
  top:360px;
  width:249px;
  height:28px;
  overflow:hidden;
  visibility:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u11 {
  position:absolute;
  left:10px;
  top:7px;
  width:232px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:433px;
  top:330px;
  width:103px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  opacity:0.8;
}
#u15 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:39px;
  background:inherit;
  background-color:rgba(223, 240, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 233, 198, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:219px;
  top:0px;
  width:672px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3C763D;
}
#u19 {
  position:absolute;
  left:228px;
  top:9px;
  width:614px;
  height:23px;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3C763D;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#889F80;
}
#u21 {
  position:absolute;
  left:842px;
  top:10px;
  width:28px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#889F80;
}
#u22 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:383px;
  top:218px;
  width:300px;
  height:170px;
}
#u24 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
