body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:631px;
}
#u135 {
  position:absolute;
  left:2px;
  top:308px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:2px;
  top:1px;
  width:1062px;
  height:40px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u139 {
  position:absolute;
  left:1032px;
  top:9px;
  width:25px;
  height:25px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u141 {
  position:absolute;
  left:18px;
  top:8px;
  width:27px;
  height:27px;
}
#u142 {
  position:absolute;
  left:1px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
}
#u143 {
  position:absolute;
  left:79px;
  top:8px;
  width:23px;
  height:27px;
}
#u144 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u145 {
  position:absolute;
  left:141px;
  top:14px;
  width:27px;
  height:21px;
}
#u146 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u147 {
  position:absolute;
  left:59px;
  top:2px;
  width:1px;
  height:38px;
}
#u148 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u149 {
  position:absolute;
  left:121px;
  top:2px;
  width:1px;
  height:38px;
}
#u150 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:198px;
  top:14px;
  width:318px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  position:absolute;
  left:94px;
  top:28px;
  width:12px;
  height:12px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u155 {
  position:absolute;
  left:94px;
  top:28px;
  width:11px;
  height:11px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:1px;
  top:291px;
  width:185px;
  height:40px;
}
#u159 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:1px;
  top:248px;
  width:185px;
  height:40px;
}
#u161 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:1px;
  top:205px;
  width:185px;
  height:40px;
}
#u163 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:1px;
  top:45px;
  width:184px;
  height:40px;
}
#u165 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:1px;
  top:85px;
  width:184px;
  height:120px;
}
#u167 {
  position:absolute;
  left:2px;
  top:52px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:78px;
  top:95px;
  width:77px;
  height:20px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:77px;
  top:135px;
  width:52px;
  height:20px;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:78px;
  top:175px;
  width:59px;
  height:20px;
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:631px;
}
#u174 {
  position:absolute;
  left:186px;
  top:1px;
  width:1px;
  height:630px;
}
#u175 {
  position:absolute;
  left:2px;
  top:307px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:23px;
}
#u176 {
  position:absolute;
  left:175px;
  top:145px;
  width:3px;
  height:20px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u178 {
  position:absolute;
  left:203px;
  top:55px;
  width:245px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:203px;
  top:87px;
  width:402px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  white-space:nowrap;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  position:absolute;
  left:203px;
  top:113px;
  width:98px;
  height:30px;
}
#u183 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:311px;
  top:113px;
  width:98px;
  height:30px;
}
#u185 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:419px;
  top:113px;
  width:98px;
  height:30px;
}
#u187 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:713px;
  top:113px;
  width:224px;
  height:30px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:947px;
  top:113px;
  width:98px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
.u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u192 {
  position:absolute;
  left:716px;
  top:0px;
  width:100px;
  height:30px;
}
.u193 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u194 {
  position:absolute;
  left:617px;
  top:0px;
  width:100px;
  height:30px;
}
.u195 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u196 {
  position:absolute;
  left:467px;
  top:0px;
  width:151px;
  height:30px;
}
.u197 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
.u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u198 {
  position:absolute;
  left:368px;
  top:0px;
  width:100px;
  height:30px;
}
.u199 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u200 {
  position:absolute;
  left:269px;
  top:0px;
  width:100px;
  height:30px;
}
.u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u202 {
  position:absolute;
  left:29px;
  top:0px;
  width:241px;
  height:30px;
}
.u203 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
.u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u204 {
  position:absolute;
  left:815px;
  top:0px;
  width:30px;
  height:30px;
}
.u205 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  overflow:hidden;
}
.u206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u208 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u206_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u206_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u210 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:31px;
}
#u191-2 {
  position:absolute;
  left:0px;
  top:31px;
  width:845px;
  height:30px;
}
#u191-3 {
  position:absolute;
  left:0px;
  top:61px;
  width:845px;
  height:30px;
}
#u191-4 {
  position:absolute;
  left:0px;
  top:91px;
  width:845px;
  height:31px;
}
#u191-5 {
  position:absolute;
  left:0px;
  top:122px;
  width:845px;
  height:30px;
}
#u191 {
  position:absolute;
  left:203px;
  top:186px;
  width:845px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  position:absolute;
  left:203px;
  top:153px;
  width:845px;
  height:34px;
}
#u213 {
  position:absolute;
  left:2px;
  top:9px;
  width:841px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u214 {
  position:absolute;
  left:232px;
  top:153px;
  width:1px;
  height:34px;
}
#u215 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u216 {
  position:absolute;
  left:472px;
  top:153px;
  width:1px;
  height:34px;
}
#u217 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u218 {
  position:absolute;
  left:571px;
  top:153px;
  width:1px;
  height:34px;
}
#u219 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u220 {
  position:absolute;
  left:670px;
  top:153px;
  width:1px;
  height:34px;
}
#u221 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u222 {
  position:absolute;
  left:820px;
  top:153px;
  width:1px;
  height:34px;
}
#u223 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u224 {
  position:absolute;
  left:919px;
  top:153px;
  width:1px;
  height:34px;
}
#u225 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u226 {
  position:absolute;
  left:1018px;
  top:153px;
  width:1px;
  height:34px;
}
#u227 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:243px;
  top:162px;
  width:73px;
  height:16px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:478px;
  top:162px;
  width:87px;
  height:16px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:575px;
  top:162px;
  width:90px;
  height:16px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:675px;
  top:162px;
  width:35px;
  height:16px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:827px;
  top:162px;
  width:35px;
  height:16px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:930px;
  top:162px;
  width:49px;
  height:16px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:207px;
  top:158px;
}
#u240_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u240_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u240_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u244 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:203px;
  top:590px;
  width:81px;
  height:28px;
}
#u247 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:494px;
  top:590px;
  width:81px;
  height:28px;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:284px;
  top:590px;
  width:35px;
  height:28px;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  position:absolute;
  left:319px;
  top:590px;
  width:35px;
  height:28px;
}
#u253 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:354px;
  top:590px;
  width:35px;
  height:28px;
}
#u255 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  position:absolute;
  left:389px;
  top:590px;
  width:35px;
  height:28px;
}
#u257 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  position:absolute;
  left:424px;
  top:590px;
  width:35px;
  height:28px;
}
#u259 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  position:absolute;
  left:459px;
  top:590px;
  width:35px;
  height:28px;
}
#u261 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:903px;
  top:588px;
  width:142px;
  height:30px;
}
#u263 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:631px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  position:absolute;
  left:1px;
  top:0px;
  width:1064px;
  height:631px;
  opacity:0.8;
}
#u265 {
  position:absolute;
  left:2px;
  top:308px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:203px;
  top:113px;
  width:596px;
  height:381px;
}
#u268 {
  position:absolute;
  left:2px;
  top:182px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:482px;
  top:456px;
  width:140px;
  height:25px;
}
#u269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u270 {
  position:absolute;
  left:213px;
  top:121px;
  width:186px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:2px;
}
#u272 {
  position:absolute;
  left:206px;
  top:142px;
  width:593px;
  height:1px;
}
#u273 {
  position:absolute;
  left:2px;
  top:-8px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  position:absolute;
  left:215px;
  top:169px;
  width:102px;
  height:16px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u276 {
  position:absolute;
  left:215px;
  top:210px;
  width:76px;
  height:16px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u278 {
  position:absolute;
  left:383px;
  top:164px;
  width:385px;
  height:25px;
}
#u278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u279 {
  position:absolute;
  left:383px;
  top:203px;
  width:385px;
  height:167px;
}
#u279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:167px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:215px;
  top:391px;
  width:49px;
  height:16px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  position:absolute;
  left:423px;
  top:399px;
  width:312px;
  height:4px;
}
#u285 {
  position:absolute;
  left:2px;
  top:-6px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:425px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u286_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u286_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u287 {
  position:absolute;
  left:458px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u287_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u287_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u288 {
  position:absolute;
  left:491px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u288_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u288_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u289 {
  position:absolute;
  left:523px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u289_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u289_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u290 {
  position:absolute;
  left:556px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u290_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u290_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u291 {
  position:absolute;
  left:589px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u291_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u291_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u292 {
  position:absolute;
  left:622px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u292_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u292_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u293 {
  position:absolute;
  left:655px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u293_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u294 {
  position:absolute;
  left:686px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u294_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u294_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u295 {
  position:absolute;
  left:718px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u295_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u296 {
  position:absolute;
  left:383px;
  top:392px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u296_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u296_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u297 {
  position:absolute;
  left:737px;
  top:391px;
  width:31px;
  height:18px;
  overflow:hidden;
}
#u297_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u297_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u298 {
  position:absolute;
  left:426px;
  top:391px;
  width:309px;
  height:20px;
  overflow:hidden;
}
#u298_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u298_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u299 {
  position:absolute;
  left:414px;
  top:392px;
  width:31px;
  height:18px;
  overflow:hidden;
  touch-action:none;
}
#u299_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u299_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u300 {
  position:absolute;
  left:3px;
  top:3px;
  width:12px;
  height:12px;
}
#u301 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:14px;
}
#u302 {
  position:absolute;
  left:463px;
  top:380px;
  width:260px;
  height:14px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:632px;
  top:456px;
  width:140px;
  height:25px;
}
#u304_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u305 {
  position:absolute;
  left:215px;
  top:456px;
  width:140px;
  height:25px;
}
#u305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u306 {
  position:absolute;
  left:655px;
  top:419px;
  width:117px;
  height:25px;
}
#u306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  position:absolute;
  left:215px;
  top:424px;
  width:84px;
  height:16px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:39px;
  background:inherit;
  background-color:rgba(223, 240, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 233, 198, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  position:absolute;
  left:219px;
  top:0px;
  width:672px;
  height:39px;
}
#u311 {
  position:absolute;
  left:2px;
  top:12px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3C763D;
}
#u312 {
  position:absolute;
  left:228px;
  top:9px;
  width:614px;
  height:23px;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3C763D;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#889F80;
}
#u314 {
  position:absolute;
  left:842px;
  top:10px;
  width:28px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#889F80;
}
#u315 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  word-wrap:break-word;
}
